<app-navbar [rol]="2"></app-navbar>

<main class="w-screen pb-14 relative min-h-[760px] overscroll-contain overflow-y-auto">
    <div class="w-10/12 mx-auto my-14 rounded-md flex flex-col items-center justify-start border border-spacing-7 shadow-inner shadow-TextoGris/45 border-black bg-white">
        <h1 class="text-center text-2xl font-semibold leading-7 text-gray-900 my-8">Empleados próximos a vencer contrato</h1>
        <table class="table-auto w-10/12 mt-10 mb-20">
            <thead>
                <tr class="bg-gray-200">
                    <th class="p-4">Nombre completo</th>
                    <th class="p-4">Cédula</th>
                    <th class="p-4">Correo electrónico</th>
                    <th class="p-4">Finalización del contrato</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleadosContratoVencido">
                    <td class="p-4 border">{{ empleado.nombre }} {{ empleado.apellidos }}</td>
                    <td class="p-4 border">{{ empleado.cedula }}</td>
                    <td class="p-4 border">{{ empleado.correoElectronico }}</td>
                    <td class="p-4 border">{{ empleado.fechaFinContrato | date:'yyyy-MM-dd' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>