<!-- Barra de navegación -->
<nav class="relative w-screen min-w-80 flex h-16 items-center justify-stretch bg-Primario text-white shadow-lg shadow-Primario" (mouseleave)="dropdown_menu() ? dropDownMenu() : ''">

    <!-- Contenedor de los elementos de navegación -->
    <div class="flex items-center sm:justify-start telefono:justify-between telefono:w-full">

        <!-- Icono de menú desplegable para dispositivos pequeños -->
        <div class="sm:hidden telefono:block">
            <fa-icon [icon]="dropdown_menu() ? faCircleXmark : faBars" class="text-white text-2xl pl-3 cursor-pointer" (click)="dropDownMenu()"></fa-icon>
        </div>
        
        <!-- Logo -->
        <div class="w-28 flex-shrink-0 sm:block telefono:relative telefono:left-5">
            <img src="../../../assets/logo_cable_aereo_color_dos.png" alt="Logo" class="bg-contain h-[4rem] object-cover">
        </div>

        <!-- Enlaces de navegación para roles administrativos (rol <= 2) -->
        <div class="nav-links sm:block sm:static sm:bg-transparent telefono:absolute telefono:left-0 telefono:top-16 telefono:z-10 sm:h-auto telefono:h-72 telefono:bg-Primario/90" *ngIf="rol! <= 2; else menu_operador">
            <ul [ngClass]="dropdown_menu() ? 'flex-col items-center ' : 'flex items-center sm:flex telefono:hidden'">
                <li [ngClass]="dropdown_menu() ? '' :'ml-12 mr-5'">
                    <a href="Home" class="hover:scale-110 hover:bg-gradient-to-b from-Secundario hover:rounded-t-md h-12 w-32 flex items-center justify-center">
                        <fa-icon [icon]="faHouse" class="text-white text-2xl mr-2"></fa-icon>
                        Inicio
                    </a>
                </li>
                <li [ngClass]="dropdown_menu() ? 'mx-5' :'mx-5'">
                    <button type="button" [class]="dropdown_preop_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-48' : 'flex items-center justify-center rounded-md h-12 w-48'"
                     (click)="dropDownPre(!this.dropdown_preop_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownPre(true)" (mouseleave)="dropdown_menu() ? '' : dropDownPre(false)">
                        <fa-icon [icon]="faPenToSquare" class="text-white text-2xl mr-2"></fa-icon>
                        Preoperativos
                        <fa-icon [icon]="dropdown_preop_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_preop_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                    </button>
                    <!-- Menú desplegable de preoperativos -->
                    <div id="PreoperativosMenu" class="animate-flip-down absolute w-56 z-10 focus:outline-none" (mouseleave)="dropDownPre(false)" (mouseenter)="dropDownPre(true)" *ngIf="dropdown_preoperativos()">
                        <div class="mt-2 divide-y divide-gray-400/20 bg-white shadow-lg shadow-gray-400 rounded-md" role="none">
                            <a href="/Preoperativos" *ngIf="rol! == 1" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Crear Preoperativo</a>
                            <a href="/Preoperativos/Editar" *ngIf="rol! == 1" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Editar último registro</a>
                            <a href="/Reportes" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Lista de Preoperativos</a>
                            <a href="/Reportes/Consolidado" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Reporte por Mes</a>
                            <a href="/Reportes/Asistencia" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Reporte por Empleado</a>
                        </div>
                    </div>
                </li>
                <li [ngClass]="dropdown_menu() ? 'mx-5' :'mx-5'">
                    <button type="button" [class]="dropdown_tram_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-40' : 'flex items-center justify-center bg-transparent rounded-md h-12 w-40'"
                     (click)="dropDownTram(!this.dropdown_tram_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownTram(true)" (mouseleave)="dropdown_menu() ? '' : dropDownTram(false)">
                        <fa-icon [icon]="faFileLines" class="text-white text-2xl mr-2"></fa-icon>
                        Trámites
                        <fa-icon [icon]="dropdown_tram_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_tram_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                    </button>
                    <!-- Menú desplegable de trámites -->
                    <div class="animate-flip-down absolute w-56 z-10 focus:outline-none transition-all duration-500" (mouseleave)="dropDownTram(false)" (mouseenter)="dropDownTram(true)" *ngIf="dropdown_tramites()">
                        <div class="mt-2 divide-y divide-gray-400/20 rounded-md bg-white shadow-lg shadow-gray-400">
                            <a href="/Solicitudes/Certificado" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitar Certificado Laboral</a>
                        </div>
                    </div>
                </li>
                <li [ngClass]="dropdown_menu() ? 'mx-5' :'mx-5'">
                    <button type="button" [class]="dropdown_solic_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-44' : 'flex items-center justify-center bg-transparent rounded-md h-12 w-44'"
                    (click)="dropDownSolic(!this.dropdown_solic_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownSolic(true)" (mouseleave)="dropdown_menu() ? '' : dropDownSolic(false)">
                        <fa-icon [icon]="faBoxArchive" class="text-white text-2xl mr-2"></fa-icon>
                        Solicitudes
                        <fa-icon [icon]="dropdown_solic_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_solic_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                    </button>
                    <!-- Menú desplegable de solicitudes -->
                    <div class="animate-flip-down absolute w-56 z-10 focus:outline-none transition-all duration-500" (mouseleave)="dropDownSolic(false)" (mouseenter)="dropDownSolic(true)" *ngIf="dropdown_solicitudes()">
                        <div class="mt-2 divide-y divide-gray-400/20 rounded-md bg-white shadow-lg shadow-gray-400">
                            <a href="/Reportes/Contrato" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Terminación de Contrato</a>
                        </div>
                    </div>
                </li>
                <li [ngClass]="dropdown_menu() ? 'mx-4' :'mx-5'" *ngIf="rol! == 1">
                    <button type="button" [class]="dropdown_usuarios_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-44' : 'flex items-center justify-center bg-transparent rounded-md h-12 w-44'"
                    (click)="dropDownUsuarios(!this.dropdown_usuarios_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownUsuarios(true)" (mouseleave)="dropdown_menu() ? '' : dropDownUsuarios(false)">
                        <fa-icon [icon]="faUsers" class="text-white text-2xl mr-2"></fa-icon>
                        Usuarios
                        <fa-icon [icon]="dropdown_usuarios_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_usuarios_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                    </button>
                    <!-- Menú desplegable de usuarios -->
                    <div class="animate-flip-down absolute w-56 z-10 focus:outline-none transition-all duration-500" (mouseleave)="dropDownUsuarios(false)" (mouseenter)="dropDownUsuarios(true)" *ngIf="dropdown_usuarios()">
                        <div class="mt-2 divide-y divide-gray-400/20 rounded-md bg-white shadow-lg shadow-gray-400">
                            <a href="/Admin/CrearUsuario" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Crear Usuario</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Enlaces de navegación para roles operadores (3 <= rol < 6) -->
        <ng-template #menu_operador>
            <div class="nav-links sm:block sm:static sm:bg-transparent telefono:absolute telefono:left-0 telefono:top-16 telefono:z-10 sm:h-auto telefono:h-72 telefono:bg-Primario/90" *ngIf="rol! < 6; else menu_general">
                <ul [ngClass]="dropdown_menu() ? 'flex-col items-center ' : 'flex items-center sm:flex telefono:hidden'">
                    <li [ngClass]="dropdown_menu() ? '' :'ml-12 mr-5'">
                        <a href="/Home" class="hover:scale-110 hover:bg-gradient-to-b from-Secundario hover:rounded-t-md h-12 w-32 flex items-center justify-center">
                            <fa-icon [icon]="faHouse" class="text-white text-2xl mr-2"></fa-icon>
                            Inicio
                        </a>
                    </li>
                    <li [ngClass]="dropdown_menu() ? 'mx-5' :'mx-5'">
                        <button type="button" [class]="dropdown_preop_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-52' : 'flex items-center justify-center rounded-md h-12 w-52'"
                         (click)="dropDownPre(!this.dropdown_preop_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownPre(true)" (mouseleave)="dropdown_menu() ? '' : dropDownPre(false)">
                            <fa-icon [icon]="faPenToSquare" class="text-white text-2xl mr-2"></fa-icon>
                            Preoperativos
                            <fa-icon [icon]="dropdown_preop_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_preop_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                        </button>
                        <!-- Menú desplegable de preoperativos -->
                        <div id="PreoperativosMenu" class="animate-flip-down absolute w-56 z-10 focus:outline-none" (mouseleave)="dropDownPre(false)" (mouseenter)="dropDownPre(true)" *ngIf="dropdown_preoperativos()">
                            <div class="mt-2 divide-y divide-gray-400/20 bg-white shadow-lg shadow-gray-400 rounded-md" role="none">
                                <a href="/Preoperativos" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Crear Preoperativo</a>
                                <a href="/Preoperativos/Editar" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1">Editar último registro</a>
                            </div>
                        </div>
                    </li>
                    <li [ngClass]="dropdown_menu() ? 'mx-5' :'mx-5'">
                        <button type="button" [class]="dropdown_tram_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-40' : 'flex items-center justify-center bg-transparent rounded-md h-12 w-40'"
                         (click)="dropDownTram(!this.dropdown_tram_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownTram(true)" (mouseleave)="dropdown_menu() ? '' : dropDownTram(false)">
                            <fa-icon [icon]="faFileLines" class="text-white text-2xl mr-2"></fa-icon>
                            Trámites
                            <fa-icon [icon]="dropdown_tram_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_tram_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                        </button>
                        <!-- Menú desplegable de trámites -->
                        <div class="animate-flip-down absolute w-56 z-10 focus:outline-none transition-all duration-500" (mouseleave)="dropDownTram(false)" (mouseenter)="dropDownTram(true)" *ngIf="dropdown_tramites()">
                            <div class="mt-2 divide-y divide-gray-400/20 rounded-md bg-white shadow-lg shadow-gray-400">
                                <a href="/Solicitudes/Certificado" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitar Certificado Laboral</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>

        <!-- Enlaces de navegación para roles generales (rol >= 6) -->
        <ng-template #menu_general>
            <div class="nav-links sm:block sm:static sm:bg-transparent telefono:absolute telefono:left-0 telefono:top-16 telefono:z-10 sm:h-auto telefono:h-72 telefono:bg-Primario/90">
                <ul [ngClass]="dropdown_menu() ? 'flex-col items-center ' : 'flex items-center sm:flex telefono:hidden'">
                    <li [ngClass]="dropdown_menu() ? '' :'ml-12 mr-5'">
                        <a href="/Home" class="hover:scale-110 hover:bg-gradient-to-b from-Secundario hover:rounded-t-md h-12 w-32 flex items-center justify-center">
                            <fa-icon [icon]="faHouse" class="text-white text-2xl mr-2"></fa-icon>
                            Inicio
                        </a>
                    </li>
                    <li [ngClass]="dropdown_menu() ? 'mx-5' :'mx-5'">
                        <button type="button" [class]="dropdown_tram_desplegado() ? 'scale-110 flex items-center justify-center bg-gradient-to-b from-Secundario rounded-t-md h-12 w-40' : 'flex items-center justify-center bg-transparent rounded-md h-12 w-40'"
                         (click)="dropDownTram(!this.dropdown_tram_desplegado())" (mouseenter)="dropdown_menu() ? '' : dropDownTram(true)" (mouseleave)="dropdown_menu() ? '' : dropDownTram(false)">
                            <fa-icon [icon]="faFileLines" class="text-white text-2xl mr-2"></fa-icon>
                            Trámites
                            <fa-icon [icon]="dropdown_tram_desplegado() ? faAngleUp : faAngleDown" [class]="dropdown_tram_desplegado() ? 'text-white text-1xl ml-6' : 'text-Secundario text-1xl ml-6'"></fa-icon>
                        </button>
                        <!-- Menú desplegable de trámites -->
                        <div class="animate-flip-down absolute w-56 z-10 focus:outline-none transition-all duration-500" (mouseleave)="dropDownTram(false)" (mouseenter)="dropDownTram(true)" *ngIf="dropdown_tramites()">
                            <div class="mt-2 divide-y divide-gray-400/20 rounded-md bg-white shadow-lg shadow-gray-400">
                                <a href="/Solicitudes/Certificado" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitar Certificado Laboral</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
        
        <!-- Icono de usuario para dispositivos pequeños -->
        <div class="sm:hidden telefono:block pr-3" (click)="dropDownUser(!dropdown_user())">
            <fa-icon [icon]="dropdown_user()? faCircleXmark : faCircleUser" class="text-white text-2xl"></fa-icon>
        </div>
        <div class="sm:hidden telefono:block mt-12 flex flex-col items-center justify-center absolute right-0 top-3 w-52 h-16 z-10 focus:outline-none transition-all duration-500 bg-Primario/90" (mouseleave)="dropDownUser(false)" (mouseenter)="dropDownUser(true)" *ngIf="dropdown_user()">
            <button type="button" class="flex items-center mx-auto mt-2 justify-center bg-gradient-to-b hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 rounded-md h-12 w-48" (click)="cerrarSesion()">
                <fa-icon [icon]="faPenToSquare" class="text-white text-2xl mr-2"></fa-icon>
                Cerrar Sesión
            </button>
        </div>
    </div>

    <!-- Icono de usuario para dispositivos grandes -->
    <div class="flex justify-end sm:w-30 sm:flex telefono:hidden">
        <div [class]="dropdown_user_desplegado() ? 'mr-6 flex w-12 h-14 items-center justify-center cursor-pointer bg-gradient-to-b from-Secundario rounded-t-md' : 'mr-6 flex w-12 h-14 items-center justify-center cursor-pointer'"
         (click)="dropDownUser(true)" (mouseenter)="dropDownUser(true)" (mouseleave)="dropDownUser(false)">
            <fa-icon [icon]="faCircleUser" class="text-white text-3xl"></fa-icon>
        </div>
        <!-- Menú desplegable de usuario -->
        <div class="animate-flip-down mt-12 absolute w-56 z-10 focus:outline-none transition-all duration-500" (mouseleave)="dropDownUser(false)" (mouseenter)="dropDownUser(true)" *ngIf="dropdown_user()">
            <div class="mt-3 divide-y divide-gray-400/20 rounded-md bg-white shadow-lg shadow-gray-400">
                <a href="#" (click)="cerrarSesion()" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Cerrar Sesión</a>
            </div>
        </div>
    </div>
    
</nav>
