<nav class="relative w-screen min-w-80 flex h-16 items-center justify-stretch bg-Primario text-white shadow-lg shadow-Primario" >
    <div class="flex items-center sm:justify-start telefono:justify-between  sm:w-1/2 telefono:w-full">
        <div class="sm:hidden telefono:block">
            <fa-icon [icon]="dropdown_menu() ? faCircleXmark : faBars" class="text-white text-2xl pl-3 cursor-pointer" (click)="dropDownMenu()" ></fa-icon>
        </div>
        <div class="w-28 flex-shrink-0 sm:block telefono:relative telefono:left-5">
            <img src="../../../assets/logo_cable_aereo_color_dos.png" alt="Logo" class="bg-contain h-[4rem] object-cover">
        </div>
      
        <div class="nav-links sm:block telefono:hidden" *ngIf="rol === '2'; else menu_operador">
            <ul class="flex items-center ">
                <li class=" mx-10"><a href="#">Inicio</a></li>
                <li class=" mx-10" >
                    <button type="button" class="bg-transparent  rounded-md h-12 w-32 hover:shadow-lg hover:shadow-white/10"
                     (click)="dropDownPre()" (mouseenter)="dropDownPre(true)" (mouseleave)="dropDownPre()">Preoperativos</button> 
                    <div class="animate-fade-right absolute  mt-2 w-56 z-10   rounded-md bg-white shadow-lg shadow-gray-400  focus:outline-none" 
                    (mouseleave)="dropDownPre()" (mouseenter)="dropDownPre(true)" (mouseleave)="dropDownPre()" *ngIf="dropdown_preoperativos()" >
                        <div class="" role="none">
                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                        <a href="/Reportes" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Lista de Preoperativos</a>
                        <a href="/Reportes/Consolidado" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Reporte por mes</a>
                        <a href="/Reportes/Asistencia" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Reporte por empleado</a>
                        </div>
                    </div>    
                </li>
                <li class="mx-10">
                    <button type="button" class="bg-transparent  rounded-md" 
                    (click)="dropDownTram()" (mouseenter)="dropDownTram(true)" (mouseleave)="dropDownTram()">Tramites</button> 
                    <div class="animate-fade-right absolute  mt-2 w-56 z-10  rounded-md bg-white shadow-lg shadow-gray-400 focus:outline-none transition-all duration-500"
                    (mouseleave)="dropDownTram()" (mouseenter)="dropDownTram(true)" (mouseleave)="dropDownTram()" *ngIf="dropdown_tramites()"  >
                        <div class="" >
                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">
                            Solicitar vacaciones</a>
                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">
                            Generear certificado</a>
                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">
                            Retiro de cesantias</a>
                        </div>
                    </div>
                </li>
                <li class="mx-10">
                    <button type="button" class="bg-transparent  rounded-md" 
                    (click)="dropDownSolic()" (mouseenter)="dropDownSolic(true)" (mouseleave)="dropDownSolic()">Solicitudes</button>
                    <div
                      class="animate-fade-right absolute  mt-2 w-56 z-10  rounded-md bg-white shadow-lg shadow-gray-400 focus:outline-none transition-all duration-500"
                      (mouseleave)="dropDownSolic()" (mouseenter)="dropDownSolic(true)" (mouseleave)="dropDownSolic()" *ngIf="dropdown_solicitudes()">
                      <div class="">
                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                        <a href="#"
                          class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">
                          Solicitudes de vacaciones</a>
                        <a href="#"
                          class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">
                          Solicitudes de certificados</a>
                        <a href="#"
                          class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">
                          Solicitudes de cesantias</a>
                      </div>
                    </div>
                  </li>
            </ul>
        </div>
        <ng-template #menu_operador >
            <div class="nav-links sm:block telefono:hidden ">
                <ul class="flex items-center">
                    <li class="mx-10">
                        <a href="#" class="hover:scale-110 hover:bg-gradient-to-b from-Secundario hover:rounded-t-md h-12 w-32 flex items-center justify-center">Inicio</a>
                    </li>
                    <li class=" mx-10 h-full" >

                        <button type="button" [class]=" dropdown_preop_desplegado() ? 'scale-110  bg-gradient-to-b from-Secundario rounded-t-md h-12 w-32 ' :  '   rounded-md h-12 w-32'" (click)="dropDownPre(true)" (mouseenter)="dropDownPre(true)" (mouseleave)="dropDownPre()">Preoperativos</button> 
                        <div id="PreoperativosMenu" class="animate-flip-down absolute w-56 z-10 focus:outline-none" (mouseleave)="dropDownPre()" (mouseenter)="dropDownPre(true)" *ngIf="dropdown_preoperativos()" >
                            <div class=" mt-2 divide-y divide-gray-400/20 bg-white shadow-lg shadow-gray-400 rounded-md" role="none">
                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            <a href="/Preoperativos" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Crear Preoperativo</a>
                            <a href="/Preoperativos/Editar" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Editar ultimo registro</a>
                            </div>
                        </div> 
                           
                    </li>
                    <li class="mx-10">

                        <button type="button" [class]=" dropdown_tram_desplegado() ? 'scale-110 bg-gradient-to-b from-Secundario rounded-t-md h-12 w-32 ' :  'bg-transparent  rounded-md h-12 w-32'" 
                        (click)="dropDownTram(true)" (mouseenter)="dropDownTram(true)" (mouseleave)="dropDownTram()">Tramites</button> 
                        <div class="animate-flip-down absolute w-56 z-10   focus:outline-none transition-all duration-500"
                        (mouseleave)="dropDownTram()" (mouseenter)="dropDownTram(true)" *ngIf="dropdown_tramites()"  >
                            <div class="mt-2 divide-y divide-gray-400/20  rounded-md bg-white shadow-lg shadow-gray-400 " >
                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            <a href="#" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" >Solicitar vacaciones</a>
                            <a href="#" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white"  >Generear certificado</a>
                            <a href="#" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" >Retiro de cesantias</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
        
        <div class="sm:hidden telefono:block pr-3">
            <fa-icon [icon]="faCircleUser" class="text-white text-2xl"></fa-icon>
        </div>
    </div>
    <div class=" flex justify-end sm:w-1/2 sm:flex telefono:hidden">     
        <div [class]="dropdown_user_desplegado()? 'mr-6 flex w-12 h-14 items-center justify-center cursor-pointer bg-gradient-to-b from-Secundario rounded-t-md':'mr-6 flex w-12 h-12 items-center justify-center cursor-pointer' "
         (click)="dropDownUser(true)" (mouseenter)="dropDownUser(true)" (mouseleave)="dropDownUser()">
            <fa-icon [icon]="faCircleUser" class="text-white text-3xl"></fa-icon>
        </div>
        <div class="animate-flip-down mt-12 absolute w-56 z-10   focus:outline-none transition-all duration-500"
            (mouseleave)="dropDownUser()" (mouseenter)="dropDownUser(true)"  *ngIf="dropdown_user()"  >
                <div class="mt-3 divide-y divide-gray-400/20  rounded-md bg-white shadow-lg shadow-gray-400 " >
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <a href="#" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" >Cambiar contraseña</a>
                <a href="#" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white"  >Actualizar datos</a>
                <a href="#" class="text-gray-700 block px-4 py-3 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" >Cerrar sesion</a>
                </div>
        </div>
    </div>
    
</nav>