<div class="parent"> 
    <div class="logo">
        <img src="../../../../assets/logo_cable_aereo_color_dos.png" alt="Logo" class="logo-img">
    </div>
    <div class="container" id="container">
        <div class="form-container sign-in" >
            <form>
                <h1 class="titulo">Iniciar sesión</h1>
                <input type="email" name="correo" placeholder="Correo">
                <input type="password" name="contrasena" placeholder="Contraseña">
                <button>Acceder</button>
                <a href="#">Olvidé mi contraseña</a>
                
            </form>
        </div>
    </div>
</div>