<app-navbar [rol]="3"></app-navbar>

<main class="w-screen pb-14 relative min-h-[760px] overscroll-contain overflow-y-auto">
    <div class="lg:w-10/12 sm:w-[85%] telefono:w-[97%] mx-auto my-14 rounded-md flex flex-col items-center justify-start border border-spacing-7 shadow-inner shadow-TextoGris/45 border-black bg-white">
        <h1 class="text-center text-2xl font-semibold leading-7 text-gray-900 my-8">Editar Preoperativo</h1>
        <form action="" class="w-10/12 m-auto flex flex-wrap items-center" [formGroup]="preoperativoForm" (ngSubmit)="guardarInformacion()">
            <div class="lg:w-1/3 sm:w-1/3 telefono:w-11/12">
                <label for="lugar" class="w-1/6 mr-5 text-sm font-medium leading-6 text-gray-900">Lugar :</label>
                <select name="lugar" id="lugar" class="lg:w-[70%] sm:w-[90%] telefono:w-full rounded-md cursor-pointer" (change)="actualizarLinea($event)" formControlName="lugar">
                    <option value="Linea1">Línea 1</option>
                    <option value="Linea2">Línea 2</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                </select>
            </div>

            <div class="lg:w-1/3 sm:w-1/3 telefono:w-11/12">
                <label for="fecha" class="w-1/6 lg:ml-5 sm:inline telefono:block telefono:w-1/2 mr-5 text-sm font-medium leading-6 text-gray-900">Fecha :</label>
                <input type="date" name="fecha" id="fecha" class="lg:w-[55%] sm:w-[87%] telefono:w-[60%] disabled:appearance-none rounded-md" formControlName="fecha">
                <fa-icon [icon]="faCalendarDays" class="text-Primario text-xl relative right-7"></fa-icon>
            </div>

            <div class="lg:w-1/3 sm:w-1/3 telefono:w-11/12">
                <label for="turno" class="w-1/6 mr-5 text-sm font-medium leading-6 text-gray-900">Turno :</label>
                <select name="turno" id="turno" class="lg:w-[70%] sm:w-[90%] telefono:w-full rounded-md cursor-pointer" formControlName="turno">
                    <option value="turno 1">6 a.m - 2 p.m</option>
                    <option value="turno 2">2 p.m - 10 p.m</option>
                    <option value="turno 3">10 p.m - 6 a.m</option>
                </select>
            </div>

            <div class="sm:w-1/3 telefono:w-11/12 mt-9">
                <label for="festivo" class="w-1/6 text-sm font-medium leading-6 text-gray-900">Día festivo</label>
                <input type="checkbox" name="festivo" id="festivo" class="ml-2 border-2 text-xl border-gray-300 rounded-md checked:bg-Primario cursor-pointer" formControlName="festivo">
            </div>

            <div class="sm:w-1/3 telefono:w-11/12 mt-9">
                <label for="extra" class="w-1/6 text-sm font-medium leading-6 text-gray-900">Horas extra</label>
                <input type="checkbox" name="extra" id="extra" class="ml-2 border-2 text-xl border-gray-300 rounded-md checked:bg-Primario cursor-pointer" formControlName="extra">
            </div>

            <div class="w-full mt-8" formArrayName="estaciones">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full mt-10 relative hidden md:table" *ngFor="let estacion of estacionesesArray.controls; let i = index">
                        <thead>
                            <tr>
                                <th colspan="3" class="bg-gray-200 py-4 text-center">{{estacion.value.nombre[0]}}
                                    <fa-icon (click)="agregarEmpleado(estacion.value.nombre[0])" [icon]="faCirclePlus" class="text-Primario hover:text-green-500 text-3xl absolute top-3 right-2 cursor-pointer"></fa-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empleado of empleadosArray(i).controls; let j = index">
                                <td *ngIf="preoperativoForm.get('extra')?.value" class="w-16 p-4 border">
                                    <input name="hora_extra" type="number" min="0" max="9" inputmode="numeric" value="{{empleado.get('hora_extra')?.value}}" class="appearance-none w-14 rounded-md focus:outline-none focus:ring-0 focus:appearance-none" (change)="asignarHorasEmpleado(i,j,$event)">
                                </td>
                                <td class="lg:w-5/12 sm:w-[25%] p-4 border">
                                    <select name="cargo" class="rounded-md" [value]="empleado.get('cargo')?.value" (change)="asignarCargoEmpleado(i,j,$event)">
                                        <option value="OPERADOR">Operador</option>
                                        <option value="AUXILIAR DE ABORDAJE Y TAQUILLA">Auxiliar de A&T</option>
                                        <option value="INGENIERO DE MANTENIMIENTO">Ingeniero de MTTO</option>
                                        <option value="TECNICO DE MANTENIMIENTO">Técnico MTTO</option>
                                    </select>
                                </td>
                                <td class="lg:w-6/12 sm:w-[75%] p-4 border relative">
                                    <select name="empleado" class="lg:w-[80%] sm:w-[90%] rounded-md" (change)="asignarNombreEmpleado(empleado.get('cargo')?.value,i,j,$event)">
                                        <option value="">{{empleado.get('nombre')?.value}}</option>
                                        <option *ngFor="let empleado of empleados[empleado.get('cargo')?.value]" value="{{empleado.nombre}}">{{empleado.nombre + ' ' + empleado.apellidos}}</option>
                                    </select>
                                    <fa-icon (click)="eliminarEmpleado(i,j)" [icon]="faTrashCan" class="text-red-500 text-2xl absolute top-4 right-3 cursor-pointer"></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Vista para teléfonos -->
                    <div class="block md:hidden" *ngFor="let estacion of estacionesesArray.controls; let i = index">
                        <div class="bg-gray-200 py-4 text-center relative mb-4 rounded-md">
                            {{estacion.value.nombre[0]}}
                            <fa-icon (click)="agregarEmpleado(estacion.value.nombre[0])" [icon]="faCirclePlus" class="text-Primario hover:text-green-500 text-3xl absolute top-3 right-2 cursor-pointer"></fa-icon>
                        </div>
                        <div *ngFor="let empleado of empleadosArray(i).controls; let j = index" class="mb-4 border p-4 rounded-md bg-white">
                            <div *ngIf="preoperativoForm.get('extra')?.value" class="mb-2">
                                <label class="block text-gray-700 text-sm font-bold mb-1">Horas extra</label>
                                <input name="hora_extra" type="number" min="0" max="9" inputmode="numeric" value="{{empleado.get('hora_extra')?.value}}" class="appearance-none w-full rounded-md focus:outline-none focus:ring-0 focus:appearance-none" (change)="asignarHorasEmpleado(i,j,$event)">
                            </div>
                            <div class="mb-2">
                                <label class="block text-gray-700 text-sm font-bold mb-1">Cargo</label>
                                <select name="cargo" class="w-full rounded-md" (change)="asignarCargoEmpleado(i,j,$event)">
                                    <option value="OPERADOR">Operador</option>
                                    <option value="AUXILIAR DE ABORDAJE Y TAQUILLA">Auxiliar de A&T</option>
                                    <option value="INGENIERO DE MANTENIMIENTO">Ingeniero de MTTO</option>
                                    <option value="TECNICO DE MANTENIMIENTO">Técnico MTTO</option>
                                </select>
                            </div>
                            <div class="relative">
                                <label class="block text-gray-700 text-sm font-bold mb-1">Empleado</label>
                                <select name="empleado" class="w-full rounded-md" (change)="asignarNombreEmpleado(empleado.get('cargo')?.value,i,j,$event)">
                                    <option value="">{{empleado.get('nombre')?.value}}</option>
                                    <option *ngFor="let empleado of empleados[empleado.get('cargo')?.value]" value="{{empleado.nombre}}">{{empleado.nombre + ' ' + empleado.apellidos}}</option>
                                </select>
                            </div>
                            <div class="flex justify-center">
                                <fa-icon (click)="eliminarEmpleado(i,j)" [icon]="faTrashCan" class="text-red-500 text-2xl block mt-3 cursor-pointer"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full">
                <button type="submit" [disabled]="!preoperativoForm.valid" class="disabled:bg-red-500 flex items-center justify-center p-3 sm:w-1/2 telefono:w-[80%] mx-auto my-8 rounded-md bg-Primario text-TextoBlanco hover:bg-Secundario active:bg-gray-500">Guardar cambios</button>
            </div>
        </form>
    </div>
</main>
