<div class="flex flex-col min-h-screen">
    <nav
        class="relative w-screen flex h-16 items-center justify-stretch bg-Primario text-white shadow-lg shadow-Primario">
        <div class="flex items-center sm:justify-start telefono:justify-between  sm:w-1/2 telefono:w-4/6">
            <div class="sm:hidden telefono:block">
                <a>A</a>
            </div>
            <div class="w-28 flex-shrink-0 sm:block telefono:relative telefono:-right-0">
                <img src="../../../assets/logo_cable_aereo_color_dos.png" alt="Logo"
                    class="bg-contain h-[4rem] object-cover">
            </div>

            <div class="nav-links sm:block telefono:hidden ">
                <ul class="flex items-center ">
                    <li class=" mx-10"><a href="#">Inicio</a></li>
                    <li class=" mx-10">
                        <button type="button"
                            class="bg-transparent  rounded-md h-12 w-32 focus:shadow-lg focus:shadow-white/10"
                            (click)="dropDownPre()">Preoperativos</button>
                        <div class="animate-fade-right absolute  mt-2 w-56 z-10   rounded-md bg-white shadow-lg shadow-gray-400  focus:outline-none"
                            (mouseleave)="dropDownPre()" *ngIf="dropdown_preoperativos()">
                            <div class="" role="none">
                                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                <a href="/Reportes" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Lista de Preoperativos</a>
                                <a href="/Reportes/Consolidado" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Reporte por mes</a>
                                <a href="/Reportes/Asistencia" class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white" role="menuitem" tabindex="-1" >Reporte por empleado</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-10">
                        <button type="button" class="bg-transparent  rounded-md"
                            (click)="dropDownTram()">Tramites</button>
                        <div class="animate-fade-right absolute  mt-2 w-56 z-10  rounded-md bg-white shadow-lg shadow-gray-400 focus:outline-none transition-all duration-500"
                            (mouseleave)="dropDownTram()" *ngIf="dropdown_tramites()">
                            <div class="">
                                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitar
                                    vacaciones</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Generar
                                    certificado</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Retiro
                                    de cesantias</a>
                            </div>
                        </div>
                    </li>
                    <li class="mx-10">
                        <button type="button" class="bg-transparent  rounded-md"
                            (click)="dropDownSoli()">Solicitudes</button>
                        <div class="animate-fade-right absolute  mt-2 w-56 z-10  rounded-md bg-white shadow-lg shadow-gray-400 focus:outline-none transition-all duration-500"
                            (mouseleave)="dropDownSoli()" *ngIf="dropdown_solicitudes()">
                            <div class="">
                                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitudes
                                    de
                                    vacaciones</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitudes
                                    de
                                    certificados</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm rounded-md hover:bg-Secundario hover:shadow-md hover:shadow-gray-400/55 hover:text-white">Solicitudes
                                    de
                                    cesantias</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" flex justify-end sm:w-1/2 telefono:w-2/6">
            <div>
                <p></p>
                <!--<img src="../../../assets/user_icon.png" alt="Usuario" class="bg-contain h-[4rem]">  -->
            </div>
        </div>
    </nav>

    <div class="container mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4">Reporte de Asistencia</h2>

        <table>
            <tbody>
                <tr *ngFor="let empleado of empleadosSeleccionados; let i = index">
                    <td>
                        <div class="mb-4 flex items-center">
                            <div class="mr-4">
                                <label class="block font-bold mb-2">Cargo:</label>
                                <select class="border border-gray-400 rounded w-64 p-2">
                                    <option *ngFor="let cargo of cargos" [value]="cargo">{{ cargo }}</option>
                                </select>
                            </div>

                            <div class="mr-4 flex">
                                <div class="w-64">
                                    <label class="block font-bold mb-2">Empleado:</label>
                                    <div class="flex">
                                        <select class="border border-gray-400 rounded p-2 flex-grow"
                                            [(ngModel)]="empleado.nombre">
                                            <option *ngFor="let emp of empleados" [value]="emp.nombre">{{ emp.nombre }}
                                            </option>
                                        </select>
                                        <button *ngIf="i === empleadosSeleccionados.length - 1"
                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
                                            (click)="agregarEmpleado()">+</button>
                                        <button *ngIf="i !== empleadosSeleccionados.length - 1"
                                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2"
                                            (click)="eliminarEmpleado(i)">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mb-4 flex">
            <div class="mr-4">
                <label class="block font-bold mb-2">Fecha Inicio:</label>
                <input type="date" class="border border-gray-400 rounded p-2">
            </div>
            <div>
                <label class="block font-bold mb-2">Fecha Fin:</label>
                <input type="date" class="border border-gray-400 rounded p-2">
            </div>
        </div>

        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            Generar Reporte
        </button>

        <!-- Aquí iría el gráfico de barras -->
    </div>
</div>