<app-navbar rol="2"></app-navbar>
<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Reporte de Asistencia</h2>
    <div class="mb-4 flex justify-start">
        <div class="mr-4">
            <label class="block font-bold mb-2">Fecha Inicio:</label>
            <input type="date" class="border border-gray-400 rounded p-2" [(ngModel)]="fechaInicio">
        </div>
        <div>
            <label class="block font-bold mb-2">Fecha Fin:</label>
            <input type="date" class="border border-gray-400 rounded p-2" [(ngModel)]="fechaFin">
        </div>
    </div>
    <table>
        <tbody>
            <tr *ngFor="let empleado of empleadosSeleccionados; let i = index">
                <td>
                    <div class="mb-4 flex items-center">
                        <div class="mr-4">
                            <label class="block font-bold mb-2">Cargo:</label>
                            <select class="border border-gray-400 rounded w-64 p-2" [(ngModel)]="cargoSeleccionado"
                                (ngModelChange)="obtenerEmpleadosPorCargo()">
                                <option value="OPERADOR">Operador</option>
                                <option value="AUXILIAR DE ABORDAJE Y TAQUILLA">Auxiliar de A & T</option>
                                <option value="INGENIERO DE MANTENIMIENTO">Ingeniero de MTTO</option>
                                <option value="TECNICO DE MANTENIMIENTO">Tecnico MTTO</option>
                            </select>
                        </div>
                        <div class="flex items-center">
                            <div class="w-64">
                                <label class="block font-bold mb-2">Empleado:</label>
                                <div class="flex">
                                    <select class="border border-gray-400 rounded p-2 flex-grow"
                                        [(ngModel)]="empleado.nombre"
                                        (ngModelChange)="asignarCedula(empleado, empleado.cedula)">
                                        <option *ngFor="let emp of empleadosObtenidos" [ngValue]="emp">{{ emp.nombre + '
                                            ' + emp.apellidos }}</option>
                                    </select>
                                    <div class="flex flex-col ml-2">
                                        <button *ngIf="i === empleadosSeleccionados.length - 1"
                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2"
                                            (click)="agregarEmpleado()">+</button>
                                        <button *ngIf="i !== empleadosSeleccionados.length - 1"
                                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                            (click)="eliminarEmpleado(i)">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flex justify-center">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="generarReporte()">
            Generar Reporte
        </button>
    </div>
    <canvas #barCanvas></canvas>
</div>