<app-navbar rol="3"></app-navbar>


<main class=" w-screen pb-14 relative min-h-[760px] overscroll-contain overflow-y-auto "> 
    <div class=" w-10/12 mx-auto my-14 rounded-md flex flex-col items-center justify-start border border-spacing-7 shadow-inner shadow-TextoGris/45 border-black bg-white ">
        <h1 class="text-center text-2xl font-semibold leading-7 text-gray-900 my-8">Nuevo Preoperativo</h1>
        <form action="" class="w-10/12 m-auto flex flex-wrap items-center " 
        [formGroup]="preoperativoForm" (ngSubmit)="guardarInformacion()" >
            <div class=" w-1/3">
                <label for="lugar" class="w-1/6 mx-9  text-sm font-medium leading-6 text-gray-900">Lugar :</label>
                <select name="lugar"  id="lugar" class="rounded-md" (change)="actualizarLinea($event)" 
                formControlName="lugar">
                    <option value="Linea1">Línea 1</option>
                    <option value="Linea2">Línea 2</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                </select>

            </div >
            
            <div class="w-1/3">

                <label for="fecha" class="w-1/6 mx-9  text-sm font-medium leading-6 text-gray-900">Fecha :</label>
                <input  type="date" name="fecha"  id="fecha" value="{{fecha_hoy}}" class="disabled:appearance-none w-[45%] rounded-md "
                formControlName="fecha">

            </div>
            
            <div class="w-1/3">

                <label for="turno" class="w-1/6 mx-9  text-sm font-medium leading-6 text-gray-900">Turno :</label>
                <select name="turno"  id="turno" class="rounded-md"
                formControlName="turno">
                    <option value="turno 1">6 a.m - 2 p.m</option>
                    <option value="turno 2">2 a.m - 10 p.m</option>
                    <option value="turno 3">10 a.m - 6 p.m</option>
                </select>

            </div>
            
            
            <div class="w-1/3 mt-9">

                <label for="festivo" class="w-1/6 ml-9  text-sm font-medium leading-6 text-gray-900">Día festivo </label>
                <input type="checkbox" name="festivo" id="festivo" class="ml-2 border-2 text-xl border-gray-300 rounded-md  checked:bg-Primario" 
                formControlName="festivo" >

            </div>

            <div class="w-1/3 mt-9">
                
                <label for="extra" class="w-1/6 ml-9  text-sm font-medium leading-6 text-gray-900">Horas extra </label>
                <input type="checkbox"  name="extra" id="extra"  class="ml-2 border-2 text-xl border-gray-300 rounded-md  checked:bg-Primario" 
                formControlName="extra" >

            </div>
            <div class=" w-full mt-8" formArrayName="estaciones">
                <table  class="table-auto w-full mt-10 relative" 
                *ngFor="let estacion of estacionesesArray.controls; let i = index">
                    <div>

                    </div>
                    <tr>
                      <th colspan="3" class="bg-gray-200 py-4 text-center">{{estacion.value.nombre[0]}}
                        <button type="button" class="bg-Primario text-white rounded-full w-8 h-8 flex items-center justify-center absolute top-3 right-2" (click)="agregarEmpleado(estacion.value.nombre[0])">+</button>
                    </th>
                      
                    </tr>
                    <tr *ngFor="let empleado of empleadosArray(i).controls; let j = index">
                        <td *ngIf="preoperativoForm.get('extra')?.value" class="w-16 p-4 border">
                            <input name="hora_extra" type="number" min="0" max="9" inputmode="numeric" value="{{empleado.get('hora_extra')?.value}}" class="appearance-none w-14 rounded-md focus:outline-none focus:ring-0 focus:appearance-none" (change)="asignarHorasEmpleado(i,j,$event)">
                        </td>
                        <td class="w-5/12 p-4 border">
                            <select name="cargo" class="rounded-md" (change)="asignarCargoEmpleado(i,j,$event)">
                                <option value="OPERADOR">Operador</option>
                                <option value="AUXILIAR DE ABORDAJE Y TAQUILLA">Auxiliar de A&T</option>
                                <option value="INGENIERO DE MANTENIMIENTO">Ingeniero de MTTO</option>
                                <option value="TECNICO DE MANTENIMIENTO">Técnico MTTO</option>
                            </select>
                        </td>
                        <td class="w-6/12 p-4 border relative">
                            <select name="empleado" class="rounded-md" (change)="asignarNombreEmpleado(empleado.get('cargo')?.value,i,j,$event)">
                                <option value="">{{empleado.get('nombre')?.value}}</option>
                                <option *ngFor="let empleado of empleados[empleado.get('cargo')?.value]" value="{{empleado.nombre}}"> {{empleado.nombre +' '+ empleado.apellidos}} </option>
                            </select>
                            <button type="button" class="bg-Primario text-white rounded-full w-8 h-8 flex items-center justify-center absolute top-3 right-2" (click)="eliminarEmpleado(i,j)">-</button>
                        </td>
                    </tr>
                  </table>
                  



            </div>
            <div class="w-full">
                <button type="submit" [disabled]="!preoperativoForm.valid" class="disabled:bg-red-500 flex items-center justify-center p-3 w-1/4 mx-auto my-8 rounded-md bg-Primario text-TextoBlanco hover:bg-Secundario active:bg-gray-500 ">Guardar</button>
            </div>
            
        </form>
        

    </div>
    
</main>
