<app-navbar [rol]="this.rol"></app-navbar>

<app-image-slider></app-image-slider>

<main class="w-screen pb-14 relative min-h-[760px] overscroll-contain overflow-y-auto mt-12">
    <div class="flex flex-col justify-between m-auto w-10/12 gap-4">
        <div class="w-full rounded-md shadow-md shadow-TextoGris/45 bg-white flex">
            <img src="assets/Imagenes/Home1.jpg" alt="Descripción de la imagen"
                class="w-1/2 object-contain rounded-l-md" />
            <div class="w-1/2 p-4 flex flex-col justify-center">
                <h2 class="text-xl font-semibold text-gray-900 mb-2">Título de la tarjeta</h2>
                <p class="text-gray-700">Descripción de la tarjeta. Puedes agregar más detalles o información aquí.</p>
            </div>
        </div>
        <div class="w-full rounded-md shadow-md shadow-TextoGris/45 bg-white flex">
            <img src="assets/Imagenes/Home2.JPG" alt="Descripción de la imagen"
                class="w-1/2 object-contain rounded-l-md" />
            <div class="w-1/2 p-4 flex flex-col justify-center">
                <h2 class="text-xl font-semibold text-gray-900 mb-2">Título de la tarjeta</h2>
                <p class="text-gray-700">Descripción de la tarjeta. Puedes agregar más detalles o información aquí.</p>
            </div>
        </div>
        <div class="w-full rounded-md shadow-md shadow-TextoGris/45 bg-white flex">
            <img src="assets/Imagenes/Home3.jpg" alt="Descripción de la imagen"
                class="w-1/2 object-contain rounded-l-md" />
            <div class="w-1/2 p-4 flex flex-col justify-center">
                <h2 class="text-xl font-semibold text-gray-900 mb-2">Título de la tarjeta</h2>
                <p class="text-gray-700">Descripción de la tarjeta. Puedes agregar más detalles o información aquí.</p>
            </div>
        </div>
    </div>
</main>