.preoperativos__details-container {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
}

.preoperativos__details-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.preoperativos__details-info {
    margin-bottom: 16px;
}

.preoperativos__details-info p {
    margin-bottom: 8px;
}

.preoperativos__details-subtitle {
    font-size: 20px;
    margin-bottom: 12px;
}

.preoperativos__employees-list {
    list-style-type: none;
    padding-left: 0;
}

.preoperativos__employee-item {
    margin-bottom: 8px;
}

.preoperativos__employees-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}

.preoperativos__employees-table th,
.preoperativos__employees-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.preoperativos__employee-row:hover {
    background-color: #f5f5f5;
}

.preoperativos__modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.preoperativos__modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
}

.preoperativos__modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preoperativos__close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.preoperativos__close-button:hover,
.preoperativos__close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.descargar-pdf-button {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}