<app-navbar rol="2"></app-navbar>

<main class=" w-screen pb-14 relative min-h-[760px] overscroll-contain overflow-y-auto ">

    <div class="w-10/12 h-[600px] m-auto my-14 rounded-md flex items-center justify-between border border-spacing-7 shadow-inner shadow-TextoGris/45 border-black bg-white">
        <div class="w-[45%] h-full flex flex-col justify-between ">
            <h1 class="text-center text-2xl font-semibold leading-7 text-gray-900 my-8">Solicitud de Certificado Laboral</h1>
            <p class="w-5/6 m-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <button type="submit" class="flex items-center justify-center p-3 mx-auto my-8 rounded-md bg-Primario text-TextoBlanco hover:bg-Secundario active:bg-gray-500">Solicitar Certificado</button>
        </div>
        
        <div class="fondo-img w-[55%] h-[600px] rounded-r-md shadow-md shadow-TextoGris/45">
        </div>
    </div>
    

</main>
